<ion-view title="About">
  <ion-content class="has-header padding">

    <div class="card">
      <div class="item item-divider">
        That's not hipster!
      </div>
      <div class="item item-text-wrap">
        Disagree or got a new hipster hangout to add? Feedback via <a href="https://twitter.com/_yctay">Twitter</a> or this <a href="
https://docs.google.com/spreadsheet/ccc?key=0AsNz63BMymZodFBtZUxKYkZQcFdabGFpNHNVcXdGYkE&hl=en#gid=0">Google Spreadsheet</a>.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        What?
      </div>
      <div class="item item-text-wrap">
        Crafted furiously in under a few hours.
        <br>
        Any issues, please tweet or DM me at <a href="https://twitter.com/_yctay">@_yctay</a>.
      </div>
    </div>

  </ion-content>
</ion-view>
