<ion-tabs class="tabs-icon-top">


  <!-- Maps Tab -->
  <ion-tab title="Map" icon="icon ion-map" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>


  <!-- Cafes Tab -->
  <ion-tab title="Cafes" icon="icon ion-coffee" href="#/tab/cafes">
    <ion-nav-view name="tab-cafes"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="About" icon="icon ion-gear-b" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
